<div class="dashboard-container">
  <!-- Menu fixo no topo -->
  <div class="menu">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/cadastro-produto" routerLinkActive="active"
          >Cadastro de Produto</a
        >
      </li>
      <li>
        <a routerLink="/movimento-estoque" routerLinkActive="active"
          >Movimento de Estoque</a
        >
      </li>
    </ul>
  </div>

  <div class="logo">
    <img src="assets/estoque-car-logo.png" alt="Logo EstoqueCar" />
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
